<div class="row">
	<div class="card" style="width:100%;">
		<div class="card-body">
			<strong>{NAME}</strong>
			@{
				var adminData = Model.{MEMBER};
				Dodo.AdministratorEntry thisAdmin = adminData.Administrators.Single(ad => ad.User.Guid == context.User.Guid);

				var canedit = thisAdmin.Permissions.CanChangePermissions;
				var canadd = thisAdmin.Permissions.CanAddAdmin;
				var canremove = thisAdmin.Permissions.CanRemoveAdmin;

				foreach (var admin in adminData.Administrators)
				{
					string getID(string name) { return $"{name}"; };
					<div class="card" style="width:100%;">
						<div class="card-body">
							<form action="/changeAdmin">
								<label class="control-label" for="@getID("Slug")">Slug</label>
								<input readonly type="text" class="form-control" id="@getID("Slug")" value="@@@admin.User.Slug">
								@if (canedit)
								{
									<div class="card" style="width:100%;">
										<div class="card-body">
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="@getID("CanAddAdmin")" checked="@admin.Permissions.CanAddAdmin.ToString().ToLower()">
												<label class="form-check-label" for="@getID("CanAddAdmin")">Can Add Admin</label>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="@getID("CanRemoveAdmin")" checked="@admin.Permissions.CanRemoveAdmin.ToString().ToLower()">
												<label class="form-check-label" for="@getID("CanRemoveAdmin")">Can Remove Admin</label>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="@getID("CanChangePermissions")" checked="@admin.Permissions.CanChangePermissions.ToString().ToLower()">
												<label class="form-check-label" for="@getID("CanChangePermissions")">Can Change Permissions</label>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="@getID("CanEditInfo")" checked="@admin.Permissions.CanEditInfo.ToString().ToLower()">
												<label class="form-check-label" for="@getID("CanEditInfo")">Can Edit Info</label>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="@getID("CanCreateChildObjects")" checked="@admin.Permissions.CanCreateChildObjects.ToString().ToLower()">
												<label class="form-check-label" for="@getID("CanCreateChildObjects")">Can Create Child Objects</label>
											</div>
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="@getID("CanDeleteChildObjects")" checked="@admin.Permissions.CanDeleteChildObjects.ToString().ToLower()">
												<label class="form-check-label" for="@getID("CanDeleteChildObjects")">Can Delete Child Objects</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<input type="submit" value="Save" class="btn btn-primary" />
									</div>
								}
							</form>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>
