<div class="card">
	<h5 class="card-header">Post an Announcement</h5>
	<div class="card-body" style="text-align:right;">
		<form id="newannouncement" method="post" action="notifications/@Model.Slug/new">
			<div class="form-group">
				<textarea id="Message" name="Message" class="form-control" style="height:10em;"></textarea>
			</div>
			<input type="submit" value="Post" class="btn btn-primary" style="width:100px;" />
		</form>
	</div>
</div>

<ul class="list-group">
	@{foreach (var notification in notifications)
		{
			<li class="list-group-item">
				<div class="card-header" style="margin-left:-20px; margin-right:-20px; margin-top:-12px;">
					<div class="row">
						<div class="col">
							<small>
								@TimeZoneInfo.ConvertTimeFromUtc(notification.Timestamp.ToUniversalTime(), Timezone ?? TimeZoneInfo.Utc).ToString("HH:mm d/M/y")
							</small>
						</div>
						<div class="col-auto">

							<strong>
								@notification.Type.ToUpperInvariant()
							</strong>
							@{ if (!string.IsNullOrEmpty(notification.Source))
								{
									<button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Source: @notification.Source">
										<span class="fas fa-comment"></span>
									</button>
								} }
							@{ if (!string.IsNullOrEmpty(notification.Link))
								{
									<button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="URL: @notification.Link">
										<span class="fas fa-link"></span>
									</button>
								} }
							<button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="The visibility of this announcement is @Common.NameAttributeExtensions.GetName(notification.PermissionLevel)">
								<span class="fas fa-eye"></span>
							</button>
							@if (notification.CanDelete)
							{
								<a class="btn btn-outline-danger" href="notifications/@Model.Slug/delete?notification=@notification.Guid">
									<p class="fas fa-trash"></p>
								</a>
							}

						</div>
					</div>
				</div>
				<div style="padding:10px;">
					<p style="margin:0;"> @Html.Raw(Common.Extensions.StringExtensions.TextToHtml(notification.Message)) </p>
				</div>
			</li>
		}}
</ul>
