@model Dodo.ViewModels.WorkingGroupViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Edit Working Group";
	Dodo.AccessContext context = (Dodo.AccessContext)ViewData["Context"];
	Resources.EPermissionLevel permissionLevel = (Resources.EPermissionLevel)ViewData["Permission"];
}

<script>
// Original script by Josh Fraser (http://www.onlineaspect.com)
// Some customization applied in this script code
var minutes;
function calculate_time_zone() {
	var rightNow = new Date();
	var jan1 = new Date(rightNow.getFullYear(), 0, 1, 0, 0, 0, 0);  // jan 1st
	var june1 = new Date(rightNow.getFullYear(), 6, 1, 0, 0, 0, 0); // june 1st
	var temp = jan1.toGMTString();
	var jan2 = new Date(temp.substring(0, temp.lastIndexOf(" ") - 1));
	temp = june1.toGMTString();
	var june2 = new Date(temp.substring(0, temp.lastIndexOf(" ") - 1));
	var std_time_offset = (jan1 - jan2) / (1000 * 60 * 60);
	var daylight_time_offset = (june1 - june2) / (1000 * 60 * 60);
	var dst;
	if (std_time_offset == daylight_time_offset) {
		dst = "0"; // daylight savings time is NOT observed
	} else {
		// positive is southern, negative is northern hemisphere
		var hemisphere = std_time_offset - daylight_time_offset;
		if (hemisphere >= 0)
			std_time_offset = daylight_time_offset;
		dst = "1"; // daylight savings time is observed
	}
	var i;
	// Here set the value of hidden field to the ClientTimeZone.
	minutes = convert(std_time_offset);
	TimeField = document.getElementById("HiddenFieldClientTime");
	TimeField.value = minutes;
	alert('your time zone is ' + minutes);
}
// This function is to convert the timezoneoffset to Standard format
function convert(value) {
	var hours = parseInt(value);
	value -= parseInt(value);
	value *= 60;
	var mins = parseInt(value);
	value -= parseInt(value);
	value *= 60;
	var secs = parseInt(value);
	var display_hours = hours;
	// handle GMT case (00:00)
	if (hours == 0) {
		display_hours = "00";
	} else if (hours > 0) {
		// add a plus sign and perhaps an extra 0
		display_hours = (hours < 10) ? "+0" + hours : "+" + hours;
	} else {
		// add an extra 0 if needed
		display_hours = (hours > -10) ? "-0" + Math.abs(hours) : hours;
	}
	mins = (mins < 10) ? "0" + mins : mins;
	return display_hours + ":" + mins;
}
// Adding the funtion to onload event of document object
onload = calculate_time_zone;

</script>


<h4 class="title">Edit Working Group</h4>
<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Guid" class="control-label"></label>
					<input  readonly asp-for="Guid" class="form-control"></input>
					<span asp-validation-for="Guid" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Slug" class="control-label"></label>
					<input  asp-for="Slug" class="form-control"></input>
					<span asp-validation-for="Slug" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Revision" class="control-label"></label>
					<input  readonly asp-for="Revision" class="form-control"></input>
					<span asp-validation-for="Revision" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PublicDescription" class="control-label"></label>
					<textarea  asp-for="PublicDescription" class="form-control"></textarea>
					<span asp-validation-for="PublicDescription" class="text-danger"></span>
				</div>
				<div class="card">
					<h5 class="card-title">AdministratorData</h5>
						<div class="card-body">
						@foreach(var admin in Model.AdministratorData.Administrators) {
							<div class="card">
								<a class="btn btn-primary" role="button" href="../../@admin.Type/@admin.Slug">@admin.Name</a>
							</div>
						}
						</div>
				</div>
				<div class="form-group">
					<label asp-for="MemberCount" class="control-label"></label>
					<input  readonly asp-for="MemberCount" class="form-control"></input>
					<span asp-validation-for="MemberCount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PublicKey" class="control-label"></label>
					<input  readonly asp-for="PublicKey" class="form-control"></input>
					<span asp-validation-for="PublicKey" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IsPublished" class="control-label"></label>
					<input  asp-for="IsPublished" class="form-control"></input>
					<span asp-validation-for="IsPublished" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Parent</label>
					<input class="sr-only" asp-for="Parent.Type"/>
					<a class="btn btn-primary" role="button" href="../../@Model.Parent.Type/@Model.Parent.Slug">@Model.Parent.Name</a>
				</div>

				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			@{foreach (var notification in (ViewData["notifications"] as IEnumerable<Dodo.Notification>))
			{
				<div class="card" style="width:100%;">
					<div class="card-body">
						<p>	@notification.Message </p>
						<p> @notification.Timestamp.ToUniversalTime().ToString("u").Replace(' ','T') </p>
						@if(notification.CanDelete)
						{
							<a href="#" class="btn btn-primary">Delete</a>
						}
					</div>
				</div>
			}}
		</div>
	</div>
</div>

<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			<form asp-action="Delete">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<a href="@Model.Slug/delete" class="btn btn-danger">Delete</a>
			</form>
		</div>
	</div>
</div>

<div>
	<a href="../../WorkingGroup/@Model.Slug">View Working Group</a>
</div>

