@model Dodo.LocalGroups.LocalGroupSchema

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Create A New Local Group";
}

<h4 class="title">Create a New Local Group</h4>
<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PublicDescription" class="control-label"></label>
					<textarea  asp-for="PublicDescription" class="form-control"></textarea>
					<span asp-validation-for="PublicDescription" class="text-danger"></span>
				</div>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Location</h5>
							<address>
								<strong>Address</strong>
								@if (!@Model.Location.LocationData.IsEmpty) {
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.Address)) {
										<br>@Model.Location.LocationData.Address
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.Neighborhood)) {
										<br>@Model.Location.LocationData.Neighborhood
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.Locality)) {
										<br>@Model.Location.LocationData.Locality
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.Place)) {
										<br>@Model.Location.LocationData.Place
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.District)) {
										<br>@Model.Location.LocationData.District
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.Postcode)) {
										<br>@Model.Location.LocationData.Postcode
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.Region)) {
										<br>@Model.Location.LocationData.Region
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData.Country)) {
										<br>@Model.Location.LocationData.Country
									}
								} else {  @Html.Raw("<br>"); @Html.Label("None"); }
							</address>
							<div class="form-group">
								<label asp-for="Location.Latitude" class="control-label"></label>
								<input  asp-for="Location.Latitude" class="form-control"></input>
								<span asp-validation-for="Location.Latitude" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Location.Longitude" class="control-label"></label>
								<input  asp-for="Location.Longitude" class="form-control"></input>
								<span asp-validation-for="Location.Longitude" class="text-danger"></span>
							</div>
						</div>
				</div>

				<div class="form-group">
					<div class="card-body">
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
