@model Dodo.ViewModels.LocalGroupViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Edit Local Group";
	Dodo.AccessContext context = (Dodo.AccessContext)ViewData["Context"];
	Resources.EPermissionLevel permissionLevel = (Resources.EPermissionLevel)ViewData["Permission"];
	System.TimeZoneInfo Timezone = (System.TimeZoneInfo)ViewData["Timezone"];
}



<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Edit Details</a>
	</li>
	@if (typeof(Dodo.Users.Tokens.INotificationResource).IsAssignableFrom(Model.__Type))
	{
		<li class="nav-item">
			<a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Notifications</a>
		</li>
	}
	@if (typeof(Dodo.IAdministratedResource).IsAssignableFrom(Model.__Type))
	{
		<li class="nav-item">
			<a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Adminstration</a>
		</li>
	}
	<li><a class="nav-link active" href="@Dodo.DodoApp.NetConfig.FullURI/LocalGroup/@Model.Slug">View</a></li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
		<div class="row">
			<div class="card" style="width:100%;">
				<div class="card-body">
					<form asp-action="Edit">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<div class="form-group">
					<label asp-for="Guid" class="control-label"></label>
					<input  readonly asp-for="Guid" class="form-control"></input>
					<span asp-validation-for="Guid" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Slug" class="control-label"></label>
					<input  asp-for="Slug" class="form-control"></input>
					<span asp-validation-for="Slug" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Revision" class="control-label"></label>
					<input  readonly asp-for="Revision" class="form-control"></input>
					<span asp-validation-for="Revision" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PublicDescription" class="control-label"></label>
					<textarea  asp-for="PublicDescription" class="form-control"></textarea>
					<span asp-validation-for="PublicDescription" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="MemberCount" class="control-label"></label>
					<input  readonly asp-for="MemberCount" class="form-control"></input>
					<span asp-validation-for="MemberCount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PublicKey" class="control-label"></label>
					<input  readonly asp-for="PublicKey" class="form-control"></input>
					<span asp-validation-for="PublicKey" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IsPublished" class="control-label"></label>
					<input  asp-for="IsPublished" class="form-control"></input>
					<span asp-validation-for="IsPublished" class="text-danger"></span>
				</div>
<script>
	mapboxgl.accessToken = "@Common.Config.ConfigManager.GetValue("MapBoxGeocodingService_ApiKey", "")"
	var coordinates = document.getElementById('coordinates');
	window.onload = function () {
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [@Model.Location.Longitude, @Model.Location.Latitude],
			zoom: 6
		});
		var geocoder = new MapboxGeocoder({
			accessToken: mapboxgl.accessToken,
			mapboxgl: mapboxgl
		});
		geocoder.on('result', function (result) {
			
			var coords = result["result"]["center"];
			console.warn(JSON.stringify(
				coords,
				null,
				2
			));
			document.getElementById("Model.Location_lat").value = coords[1];
			document.getElementById("Model.Location_lng").value = coords[0];
			// Update the Point feature in `geojson` coordinates
			// and call setData to the source layer `point` on it.
		geojson.features[0].geometry.coordinates = [coords[0], coords[1]];
			map.getSource('point').setData(geojson);
		});
		map.addControl(
			geocoder
		);
		var canvas = map.getCanvasContainer();

		var geojson = {
			'type': 'FeatureCollection',
			'features': [
				{
					'type': 'Feature',
					'geometry': {
						'type': 'Point',
						'coordinates': [@Model.Location.Longitude, @Model.Location.Latitude],
					}
				}
			]
		};

		function onMove(e) {
			var coords = e.lngLat;

			// Set a UI indicator for dragging.
			canvas.style.cursor = 'grabbing';

			// Update the Point feature in `geojson` coordinates
			// and call setData to the source layer `point` on it.
			geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
			map.getSource('point').setData(geojson);
		}

		function onUp(e) {
			var coords = e.lngLat;

			document.getElementById("Model.Location_lat").value = coords.lat;
			document.getElementById("Model.Location_lng").value = coords.lng;

			canvas.style.cursor = '';

			// Unbind mouse/touch events
			map.off('mousemove', onMove);
			map.off('touchmove', onMove);
		}

		map.on('load', function () {
			// Add a single point to the map
			map.addSource('point', {
				'type': 'geojson',
				'data': geojson
			});

			map.addLayer({
				'id': 'point',
				'type': 'circle',
				'source': 'point',
				'paint': {
					'circle-radius': 10,
					'circle-color': '#3887be'
				}
			});

			// When the cursor enters a feature in the point layer, prepare for dragging.
			map.on('mouseenter', 'point', function () {
				map.setPaintProperty('point', 'circle-color', '#3bb2d0');
				canvas.style.cursor = 'move';
			});

			map.on('mouseleave', 'point', function () {
				map.setPaintProperty('point', 'circle-color', '#3887be');
				canvas.style.cursor = '';
			});

			map.on('mousedown', 'point', function (e) {
				// Prevent the default map drag behavior.
				e.preventDefault();

				canvas.style.cursor = 'grab';

				map.on('mousemove', onMove);
				map.once('mouseup', onUp);
			});

			map.on('touchstart', 'point', function (e) {
				if (e.points.length !== 1) return;

				// Prevent the default map drag behavior.
				e.preventDefault();

				map.on('touchmove', onMove);
				map.once('touchend', onUp);
			});
		});
	}
</script>

@{ /**/
	   var data = Model.Location.LocationData; }
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Location</h5>
		<div id="map" style="height: 20em; width: 100%;"></div>
		<div class="form-group">
			<label asp-for="Location.Latitude" class="control-label"></label>
			<input id="Model.Location_lat" asp-for="Location.Latitude" class="form-control"></input>
			<span asp-validation-for="Location.Latitude" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Location.Longitude" class="control-label"></label>
			<input id="Model.Location_lng" asp-for="Location.Longitude" class="form-control"></input>
			<span asp-validation-for="Location.Longitude" class="text-danger"></span>
		</div>
	</div>
</div>


						<div class="form-group">
							<input type="submit" value="Save" class="btn btn-primary" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							DANGER ZONE
						</button>
					</h5>
				</div>
				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<a href="@Dodo.DodoApp.NetConfig.FullURI/edit/LocalGroup/@Model.Slug/delete" class="btn btn-danger btn-lg btn-block">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	@if (typeof(Dodo.Users.Tokens.INotificationResource).IsAssignableFrom(Model.__Type))
	{
		<div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
			
<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			@{foreach (var notification in (ViewData["notifications"] as IEnumerable<Dodo.Notification>))
			{
				<div class="card" style="width:100%;">
					<div class="card-body">
						<p>	@notification.Message </p>
						<p> @TimeZoneInfo.ConvertTimeFromUtc(notification.Timestamp.ToUniversalTime(), Timezone ?? TimeZoneInfo.Utc) </p>
						@if(notification.CanDelete)
						{
							<a href="#" class="btn btn-primary">Delete</a>
						}
					</div>
				</div>
			}}
		</div>
	</div>
</div>

		</div>
	}
	@if (typeof(Dodo.IAdministratedResource).IsAssignableFrom(Model.__Type))
	{
		<div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
			<div class="row">
	<div class="card" style="width:100%;">
		<div class="card-body">
			<strong>AdministratorData</strong>
			@{
				var adminData = Model.AdministratorData;
				Dodo.AdministratorEntry thisAdmin = adminData.Administrators.Single(ad => ad.User.Guid == context.User.Guid);

				var canedit = thisAdmin.Permissions.CanChangePermissions;
				var canadd = thisAdmin.Permissions.CanAddAdmin;
				var canremove = thisAdmin.Permissions.CanRemoveAdmin;

				foreach (var admin in adminData.Administrators)
				{
					string getID(string name) { return $"{name}"; };
					<div class="card" style="width:100%;">
						<div class="card-body">
							<form action="/changeAdmin">
								<label class="control-label" for="@getID("Slug")">Slug</label>
								<input readonly type="text" class="form-control" id="@getID("Slug")" value="@@@admin.User.Slug">
								<div class="card" style="width:100%;">
									<div class="card-body">
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="@getID("CanAddAdmin")" checked="@admin.Permissions.CanAddAdmin.ToString().ToLower()">
											<label class="form-check-label" for="@getID("CanAddAdmin")">Can Add Admin</label>
										</div>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="@getID("CanRemoveAdmin")" checked="@admin.Permissions.CanRemoveAdmin.ToString().ToLower()">
											<label class="form-check-label" for="@getID("CanRemoveAdmin")">Can Remove Admin</label>
										</div>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="@getID("CanChangePermissions")" checked="@admin.Permissions.CanChangePermissions.ToString().ToLower()">
											<label class="form-check-label" for="@getID("CanChangePermissions")">Can Change Permissions</label>
										</div>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="@getID("CanEditInfo")" checked="@admin.Permissions.CanEditInfo.ToString().ToLower()">
											<label class="form-check-label" for="@getID("CanEditInfo")">Can Edit Info</label>
										</div>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="@getID("CanCreateChildObjects")" checked="@admin.Permissions.CanCreateChildObjects.ToString().ToLower()">
											<label class="form-check-label" for="@getID("CanCreateChildObjects")">Can Create Child Objects</label>
										</div>
										<div class="form-check">
											<input type="checkbox" class="form-check-input" id="@getID("CanDeleteChildObjects")" checked="@admin.Permissions.CanDeleteChildObjects.ToString().ToLower()">
											<label class="form-check-label" for="@getID("CanDeleteChildObjects")">Can Delete Child Objects</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<input type="submit" value="Save" class="btn btn-primary" />
								</div>

							</form>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>

		</div>
	}
</div>

