@model Dodo.LocationResources.EventSchema

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Create A New Event";
	if (typeof(Resources.IOwnedResource).IsAssignableFrom(Model.GetResourceType()))
	{
		(Model as dynamic).ParentID = ViewContext.HttpContext.Request.Query["parent"];
	}
}

<div class="container-md">
	<h4 class="title">Create a New Event</h4>
	<div class="row">
		<div class="card" style="width:100%;">
			<div class="card-body">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					@{
	Resources.IRESTResource rsc = null;
	if (string.IsNullOrEmpty(Model.ParentID))
	{
		Model.ParentID = ViewContext.HttpContext.Request.Query["parent"];
	}
	if (System.Guid.TryParse(Model.ParentID, out System.Guid guid))
	{
		rsc = Resources.ResourceUtility.GetResourceByGuid(guid);
	}
	else
	{
		rsc = Resources.ResourceUtility.GetResourceBySlug(Model.ParentID);
	}
	if (rsc != null)
	{
		var url = $"{Common.Extensions.StringExtensions.ToCamelCase(rsc.GetType().Name)}/{rsc.Slug}";
		<div class="card">
			<div class="card-body">
				<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Resources.IResourceReference)}_{nameof(Resources.IResourceReference.Parent)}")))">
					<i class="fas fa-question-circle"></i>
				</button>
				<label class="control-label">Parent</label>
				<input class="sr-only" asp-for="ParentID" />
				<div class="row">
					<div class="col">
						<strong>
							@rsc.Name
						</strong>
					</div>
					<div class="col-auto">
						<a class="btn btn-light @(rsc.GetType().Name.ToLowerInvariant())-reference" role="button" href="~/@url">
							<i class="fa fa-eye"></i>View
						</a>
					</div>
					<div class="col-auto">
						<a class="btn btn-light @(rsc.GetType().Name.ToLowerInvariant())-reference" role="button" href="~/edit/@url">
							<i class="fa fa-edit"></i>Edit
						</a>
					</div>
				</div>
			</div>
		</div>
	}
}

				<div class="form-field form-group">
					<button type ="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"Name"))"><i class="fas fa-question-circle"></i></button>
					<label class="control-label">Name</label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
					<small id="helpBlock" class="form-text text-muted">
						Must be between 3-64 characters
						<p id="slugPreview"></p>
						<script>
							$('form :input').change(function(){
								var inputVal = $('#Name').val().toLowerCase();
								inputVal = inputVal.split(new RegExp("[^a-z0-9_]")).join('');
								$('#slugPreview').text('URL will be /' + inputVal + '/')
							});
						</script>
					</small>
				</div>
				<div class="form-field form-group">
				<button type ="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"PublicDescription"))"><i class="fas fa-question-circle"></i></button>
				<label class="control-label">Public Description</label>
				<textarea asp-for="PublicDescription" class="form-control description-entry"></textarea>
					<small id="helpBlock" class="form-text text-muted">
						<script>$('form :input').change(function(){var v = 2048 - $("#PublicDescription").val().length;$('#descriptionLength').text(v + ' characters remaining. ')});</script><p id="descriptionLength"></p>
					</small>
				</div>
<script>
	mapboxgl.accessToken = "@Common.Config.ConfigManager.GetValue("MapBoxGeocodingService_ApiKey", "")"
	var coordinates = document.getElementById('coordinates');
	window.onload = function () {
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [@Model.Location.Longitude, @Model.Location.Latitude],
			zoom: 6
		});
		var geocoder = new MapboxGeocoder({
			accessToken: mapboxgl.accessToken,
			mapboxgl: mapboxgl
		});
		geocoder.on('result', function (result) {

			var coords = result["result"]["center"];
			console.warn(JSON.stringify(
				coords,
				null,
				2
			));
			document.getElementById("Model.Location_lat").value = coords[1];
			document.getElementById("Model.Location_lng").value = coords[0];
			// Update the Point feature in `geojson` coordinates
			// and call setData to the source layer `point` on it.
		geojson.features[0].geometry.coordinates = [coords[0], coords[1]];
			map.getSource('point').setData(geojson);
		});
		map.addControl(
			geocoder
		);
		var canvas = map.getCanvasContainer();

		var geojson = {
			'type': 'FeatureCollection',
			'features': [
				{
					'type': 'Feature',
					'geometry': {
						'type': 'Point',
						'coordinates': [@Model.Location.Longitude, @Model.Location.Latitude],
					}
				}
			]
		};

		function onMove(e) {
			var coords = e.lngLat;

			// Set a UI indicator for dragging.
			canvas.style.cursor = 'grabbing';

			// Update the Point feature in `geojson` coordinates
			// and call setData to the source layer `point` on it.
			geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
			map.getSource('point').setData(geojson);
		}

		function onUp(e) {
			var coords = e.lngLat;

			document.getElementById("Model.Location_lat").value = coords.lat;
			document.getElementById("Model.Location_lng").value = coords.lng;

			canvas.style.cursor = '';

			// Unbind mouse/touch events
			map.off('mousemove', onMove);
			map.off('touchmove', onMove);
		}

		map.on('load', function () {
			// Add a single point to the map
			map.addSource('point', {
				'type': 'geojson',
				'data': geojson
			});

			map.addLayer({
				'id': 'point',
				'type': 'circle',
				'source': 'point',
				'paint': {
					'circle-radius': 10,
					'circle-color': '#3887be'
				}
			});

			// When the cursor enters a feature in the point layer, prepare for dragging.
			map.on('mouseenter', 'point', function () {
				map.setPaintProperty('point', 'circle-color', '#3bb2d0');
				canvas.style.cursor = 'move';
			});

			map.on('mouseleave', 'point', function () {
				map.setPaintProperty('point', 'circle-color', '#3887be');
				canvas.style.cursor = '';
			});

			map.on('mousedown', 'point', function (e) {
				// Prevent the default map drag behavior.
				e.preventDefault();

				canvas.style.cursor = 'grab';

				map.on('mousemove', onMove);
				map.once('mouseup', onUp);
			});

			map.on('touchstart', 'point', function (e) {
				if (e.points.length !== 1) return;

				// Prevent the default map drag behavior.
				e.preventDefault();

				map.on('touchmove', onMove);
				map.once('touchend', onUp);
			});
		});
	}
</script>

<div class="form-field card">
	<div class="card-header"><h5 class="card-title">Location</h5></div>
	<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML(nameof(Resources.Location.GeoLocation)))">
		<i class="fas fa-question-circle"></i>
	</button>
	<div id="map" style="height: 20em; width: 100%;"></div>
	<div class="form-group sr-only">
		<label asp-for="Location.Latitude" class="control-label"></label>
		<input id="Model.Location_lat" asp-for="Location.Latitude" class="form-control"></input>
		<span asp-validation-for="Location.Latitude" class="text-danger"></span>
	</div>
	<div class="form-group sr-only">
		<label asp-for="Location.Longitude" class="control-label"></label>
		<input id="Model.Location_lng" asp-for="Location.Longitude" class="form-control"></input>
		<span asp-validation-for="Location.Longitude" class="text-danger"></span>
	</div>
</div>

				<div class="form-field form-group">
					<button type ="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"VideoEmbedURL"))"><i class="fas fa-question-circle"></i></button>
					<label class="control-label">VideoEmbedURL</label>
					<input  asp-for="VideoEmbedURL" class="form-control"></input>
					<span asp-validation-for="VideoEmbedURL" class="text-danger"></span>
				</div>
<div class="card">
	<div class="card-header">
		<h5 class="card-title">Facilities</h5>
	</div>
	<div class="card-body">
		<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML(nameof(Dodo.LocationResources.SiteFacilities)))">
			<i class="fas fa-question-circle"></i>
		</button>
		<div class="row">
			<div class="col-sm">
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Toilets)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Toilets</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Toilets" class="form-control"></select>
					<span asp-validation-for="Facilities.Toilets" class="text-danger"></span>
				</div>
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Bathrooms)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Bathrooms</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Bathrooms" class="form-control"></select>
					<span asp-validation-for="Facilities.Bathrooms" class="text-danger"></span>
				</div>
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Food)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Food</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Food" class="form-control"></select>
					<span asp-validation-for="Facilities.Food" class="text-danger"></span>
				</div>
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.OutdoorCamping)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Outdoor Camping</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.OutdoorCamping" class="form-control"></select>
					<span asp-validation-for="Facilities.OutdoorCamping" class="text-danger"></span>
				</div>
			</div>
			<div class="col-sm">
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.IndoorCamping)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Indoor Camping</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.IndoorCamping" class="form-control"></select>
					<span asp-validation-for="Facilities.IndoorCamping" class="text-danger"></span>
				</div>
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Accomodation)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Accomodation</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Accomodation" class="form-control"></select>
					<span asp-validation-for="Facilities.Accomodation" class="text-danger"></span>
				</div>
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Internet)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Internet</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Internet" class="form-control"></select>
					<span asp-validation-for="Facilities.Internet" class="text-danger"></span>
				</div>
				<div class="form-field form-group">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Electricity)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<label class="control-label">Electricity</label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Electricity" class="form-control"></select>
					<span asp-validation-for="Facilities.Electricity" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Kitchen)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.Kitchen" class="form-check-input"></input>
					<label class="form-check-label">Kitchen</label>
					<span asp-validation-for="Facilities.Kitchen" class="text-danger"></span>
				</div>
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.DisabilityFriendly)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.DisabilityFriendly" class="form-check-input"></input>
					<label class="form-check-label">Disability Friendly</label>
					<span asp-validation-for="Facilities.DisabilityFriendly" class="text-danger"></span>
				</div>
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Inductions)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.Inductions" class="form-check-input"></input>
					<label class="form-check-label">Inductions</label>
					<span asp-validation-for="Facilities.Inductions" class="text-danger"></span>
				</div>
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.TalksAndTraining)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.TalksAndTraining" class="form-check-input"></input>
					<label class="form-check-label">Talks And Training</label>
					<span asp-validation-for="Facilities.TalksAndTraining" class="text-danger"></span>
				</div>
			</div>
			<div class="col-sm">
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.Welfare)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.Welfare" class="form-check-input"></input>
					<label class="form-check-label">Welfare</label>
					<span asp-validation-for="Facilities.Welfare" class="text-danger"></span>
				</div>
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.AffinityGroupFormation)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.AffinityGroupFormation" class="form-check-input"></input>
					<label class="form-check-label">Affinity Group Formation</label>
					<span asp-validation-for="Facilities.AffinityGroupFormation" class="text-danger"></span>
				</div>
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.VolunteersNeeded)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.VolunteersNeeded" class="form-check-input"></input>
					<label class="form-check-label">Volunteers Needed</label>
					<span asp-validation-for="Facilities.VolunteersNeeded" class="text-danger"></span>
				</div>
				<div class="form-field form-check">
					<button type="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"{nameof(Dodo.LocationResources.SiteFacilities)}_{nameof(Dodo.LocationResources.SiteFacilities.FamilyFriendly)}"))">
						<i class="fas fa-question-circle"></i>
					</button>
					<input type="checkbox" asp-for="Facilities.FamilyFriendly" class="form-check-input"></input>
					<label class="form-check-label">Family Friendly</label>
					<span asp-validation-for="Facilities.FamilyFriendly" class="text-danger"></span>
				</div>

			</div>
		</div>
	</div>
</div>

				<div class="form-field form-group">
					<button type ="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"StartDate"))"><i class="fas fa-question-circle"></i></button>
					<label class="control-label">StartDate</label>
					<input  asp-for="StartDate" class="form-control"></input>
					<span asp-validation-for="StartDate" class="text-danger"></span>
				</div>
				<div class="form-field form-group">
					<button type ="button" class="help-button" data-toggle="tooltip" data-html="true" title="@(Dodo.HelpUtility.GetHelpHTML($"EndDate"))"><i class="fas fa-question-circle"></i></button>
					<label class="control-label">EndDate</label>
					<input  asp-for="EndDate" class="form-control"></input>
					<span asp-validation-for="EndDate" class="text-danger"></span>
				</div>

					<div class="form-group">
						<div class="card-body">
							<input type="submit" value="Create" class="btn btn-primary btn-block" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
