@model Dodo.ViewModels.EventViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Edit Event";
	Dodo.AccessContext context = (Dodo.AccessContext)ViewData["Context"];
	Resources.EPermissionLevel permissionLevel = (Resources.EPermissionLevel)ViewData["Permission"];
	System.TimeZoneInfo Timezone = (System.TimeZoneInfo)ViewData["Timezone"];
	var notifications = (ViewData["notifications"] as IEnumerable<Dodo.Notification>);
}

<script>
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
})

</script>


<ul class="nav nav-tabs" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Edit Details</a>
	</li>
	@if (typeof(Dodo.Users.Tokens.INotificationResource).IsAssignableFrom(Model.__Type))
	{
		<li class="nav-item">
			<a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">Notifications</a>
		</li>
	}
	@if (typeof(Dodo.IAdministratedResource).IsAssignableFrom(Model.__Type))
	{
		<li class="nav-item">
			<a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Administration</a>
		</li>
	}
	<li><a class="nav-link active" href="@Dodo.DodoApp.NetConfig.FullURI/Event/@Model.Slug" target="_blank">View</a></li>
</ul>
<div class="tab-content" id="myTabContent">
	<div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
		<div class="card" style="width:100%;">
			<div class="card-body">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<label class="control-label">Parent</label>
					<input class="sr-only" asp-for="Parent.Type"/>
					<div class="row">
					<div class="col"><strong>@Model.Parent.Name</strong></div>
					<div class="col-auto"><a class="btn btn-light" style="background-color:#@Dodo.APIController.GetDisplayColor(Model.Parent.GetRefType())" role="button" href="../../@Model.Parent.Type/@Model.Parent.Slug"><i class="fa fa-eye"></i></a></div>
					<div class="col-auto"><a class="btn btn-light" style="background-color:#@Dodo.APIController.GetDisplayColor(Model.Parent.GetRefType())" role="button" href="../../edit/@Model.Parent.Type/@Model.Parent.Slug"><i class="fa fa-edit"></i></a></div>
					</div>
				<div class="form-check">
					<input type="checkbox" asp-for="IsPublished" class="form-check-input"></input>
					<label asp-for="IsPublished" class="form-check-label"></label>
					<span asp-validation-for="IsPublished" class="text-danger"></span>
					<small id="helpBlock" class="form-text text-muted">
						This indicates whether or not this is publicly viewable by all users.
					</small>
				</div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
					<input asp-for="Slug" class="sr-only"></input>
					<input asp-for="Guid" class="sr-only"></input>
					<input asp-for="Revision" class="sr-only"></input>
					<input asp-for="PublicKey" class="sr-only"></input>
				<div class="form-group">
				<label asp-for="PublicDescription" class="control-label"></label>
				<textarea style="height:20em;" asp-for="PublicDescription" class="form-control"></textarea>
					<small id="helpBlock" class="form-text text-muted">
						To insert hyperlinks, use the following format: [My link text](www.example.com). This will display as: <a href="www.example.com">My link text</a>
					</small>
				</div>
				<div class="form-group">
					<label asp-for="MemberCount" class="control-label"></label>
					<input  readonly asp-for="MemberCount" class="form-control"></input>
					<span asp-validation-for="MemberCount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ArrestRisk" class="control-label"></label>
					<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EArrestRisk>()" asp-for="ArrestRisk" class="form-control"></select>
					<span asp-validation-for="ArrestRisk" class="text-danger"></span>
				</div>
<script>
	mapboxgl.accessToken = "@Common.Config.ConfigManager.GetValue("MapBoxGeocodingService_ApiKey", "")"
	var coordinates = document.getElementById('coordinates');
	window.onload = function () {
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [@Model.Location.Longitude, @Model.Location.Latitude],
			zoom: 6
		});
		var geocoder = new MapboxGeocoder({
			accessToken: mapboxgl.accessToken,
			mapboxgl: mapboxgl
		});
		geocoder.on('result', function (result) {
			
			var coords = result["result"]["center"];
			console.warn(JSON.stringify(
				coords,
				null,
				2
			));
			document.getElementById("Model.Location_lat").value = coords[1];
			document.getElementById("Model.Location_lng").value = coords[0];
			// Update the Point feature in `geojson` coordinates
			// and call setData to the source layer `point` on it.
		geojson.features[0].geometry.coordinates = [coords[0], coords[1]];
			map.getSource('point').setData(geojson);
		});
		map.addControl(
			geocoder
		);
		var canvas = map.getCanvasContainer();

		var geojson = {
			'type': 'FeatureCollection',
			'features': [
				{
					'type': 'Feature',
					'geometry': {
						'type': 'Point',
						'coordinates': [@Model.Location.Longitude, @Model.Location.Latitude],
					}
				}
			]
		};

		function onMove(e) {
			var coords = e.lngLat;

			// Set a UI indicator for dragging.
			canvas.style.cursor = 'grabbing';

			// Update the Point feature in `geojson` coordinates
			// and call setData to the source layer `point` on it.
			geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
			map.getSource('point').setData(geojson);
		}

		function onUp(e) {
			var coords = e.lngLat;

			document.getElementById("Model.Location_lat").value = coords.lat;
			document.getElementById("Model.Location_lng").value = coords.lng;

			canvas.style.cursor = '';

			// Unbind mouse/touch events
			map.off('mousemove', onMove);
			map.off('touchmove', onMove);
		}

		map.on('load', function () {
			// Add a single point to the map
			map.addSource('point', {
				'type': 'geojson',
				'data': geojson
			});

			map.addLayer({
				'id': 'point',
				'type': 'circle',
				'source': 'point',
				'paint': {
					'circle-radius': 10,
					'circle-color': '#3887be'
				}
			});

			// When the cursor enters a feature in the point layer, prepare for dragging.
			map.on('mouseenter', 'point', function () {
				map.setPaintProperty('point', 'circle-color', '#3bb2d0');
				canvas.style.cursor = 'move';
			});

			map.on('mouseleave', 'point', function () {
				map.setPaintProperty('point', 'circle-color', '#3887be');
				canvas.style.cursor = '';
			});

			map.on('mousedown', 'point', function (e) {
				// Prevent the default map drag behavior.
				e.preventDefault();

				canvas.style.cursor = 'grab';

				map.on('mousemove', onMove);
				map.once('mouseup', onUp);
			});

			map.on('touchstart', 'point', function (e) {
				if (e.points.length !== 1) return;

				// Prevent the default map drag behavior.
				e.preventDefault();

				map.on('touchmove', onMove);
				map.once('touchend', onUp);
			});
		});
	}
</script>

@{ var data = Model.Location.LocationData; }
<div class="card">
	<div class="card-body">
		<h5 class="card-title">Location</h5>
		<div id="map" style="height: 20em; width: 100%;"></div>
		<div class="form-group">
			<label asp-for="Location.Latitude" class="control-label"></label>
			<input id="Model.Location_lat" asp-for="Location.Latitude" class="form-control"></input>
			<span asp-validation-for="Location.Latitude" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Location.Longitude" class="control-label"></label>
			<input id="Model.Location_lng" asp-for="Location.Longitude" class="form-control"></input>
			<span asp-validation-for="Location.Longitude" class="text-danger"></span>
		</div>
	</div>
</div>

				<div class="form-group">
					<label asp-for="VideoEmbedURL" class="control-label"></label>
					<input  asp-for="VideoEmbedURL" class="form-control"></input>
					<span asp-validation-for="VideoEmbedURL" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="StartDate" class="control-label"></label>
					<input  asp-for="StartDate" class="form-control"></input>
					<span asp-validation-for="StartDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EndDate" class="control-label"></label>
					<input  asp-for="EndDate" class="form-control"></input>
					<span asp-validation-for="EndDate" class="text-danger"></span>
				</div>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Facilities</h5>
							<div class="form-group">
								<label asp-for="Facilities.Toilets" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Toilets" class="form-control"></select>
								<span asp-validation-for="Facilities.Toilets" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Bathrooms" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Bathrooms" class="form-control"></select>
								<span asp-validation-for="Facilities.Bathrooms" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Food" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Food" class="form-control"></select>
								<span asp-validation-for="Facilities.Food" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.Kitchen" class="form-check-input"></input>
								<label asp-for="Facilities.Kitchen" class="form-check-label"></label>
								<span asp-validation-for="Facilities.Kitchen" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.DisabilityFriendly" class="form-check-input"></input>
								<label asp-for="Facilities.DisabilityFriendly" class="form-check-label"></label>
								<span asp-validation-for="Facilities.DisabilityFriendly" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.OutdoorCamping" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.OutdoorCamping" class="form-control"></select>
								<span asp-validation-for="Facilities.OutdoorCamping" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.IndoorCamping" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.IndoorCamping" class="form-control"></select>
								<span asp-validation-for="Facilities.IndoorCamping" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Accomodation" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Accomodation" class="form-control"></select>
								<span asp-validation-for="Facilities.Accomodation" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.Inductions" class="form-check-input"></input>
								<label asp-for="Facilities.Inductions" class="form-check-label"></label>
								<span asp-validation-for="Facilities.Inductions" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.TalksAndTraining" class="form-check-input"></input>
								<label asp-for="Facilities.TalksAndTraining" class="form-check-label"></label>
								<span asp-validation-for="Facilities.TalksAndTraining" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.Welfare" class="form-check-input"></input>
								<label asp-for="Facilities.Welfare" class="form-check-label"></label>
								<span asp-validation-for="Facilities.Welfare" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.AffinityGroupFormation" class="form-check-input"></input>
								<label asp-for="Facilities.AffinityGroupFormation" class="form-check-label"></label>
								<span asp-validation-for="Facilities.AffinityGroupFormation" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.VolunteersNeeded" class="form-check-input"></input>
								<label asp-for="Facilities.VolunteersNeeded" class="form-check-label"></label>
								<span asp-validation-for="Facilities.VolunteersNeeded" class="text-danger"></span>
							</div>
							<div class="form-check">
								<input type="checkbox" asp-for="Facilities.FamilyFriendly" class="form-check-input"></input>
								<label asp-for="Facilities.FamilyFriendly" class="form-check-label"></label>
								<span asp-validation-for="Facilities.FamilyFriendly" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Internet" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Internet" class="form-control"></select>
								<span asp-validation-for="Facilities.Internet" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Electricity" class="control-label"></label>
								<select asp-items="@Html.GetEnumSelectList<Dodo.LocationResources.EAccessType>()" asp-for="Facilities.Electricity" class="form-control"></select>
								<span asp-validation-for="Facilities.Electricity" class="text-danger"></span>
							</div>
						</div>
				</div>

					<div class="form-group">
						<input type="submit" value="Save" class="btn btn-primary btn-block" />
					</div>
				</form>
			</div>
		</div>
	</div>
	@if (typeof(Dodo.Users.Tokens.INotificationResource).IsAssignableFrom(Model.__Type))
	{
		<div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
			<div class="card">
	<h5 class="card-header">Post an Announcement</h5>
	<div class="card-body" style="text-align:right;">
		<form id="newannouncement" method="post" action="notifications/@Model.Slug/new">
			<div class="form-group">
				<textarea id="Message" name="Message" class="form-control" style="height:10em;"></textarea>
			</div>
			<small id="helpBlock" class="form-text text-muted" style="text-align:left;">
				Announcements are messages that will be displayed on the public page and be visible for all users. You can use them to give short updates or messages.<br />
				To insert hyperlinks, use the following format: [My link text](www.example.com). This will display as: <a href="www.example.com">My link text</a>
			</small>
			<input type="submit" value="Post" class="btn btn-primary" style="width:100px;" />
		</form>
	</div>
</div>

<div class="card">
	<h5 class="card-header">Current Notifications</h5>
	<div class="card-body">
		<ul class="list-group">
			@{foreach (var notification in notifications)
				{
					<li class="list-group-item">
						<div class="card-header" style="margin-left:-20px; margin-right:-20px; margin-top:-12px;">
							<div class="row">
								<div class="col" style="margin-left:10px;">
									<div class="row">
										<small>
											@TimeZoneInfo.ConvertTimeFromUtc(notification.Timestamp.ToUniversalTime(), Timezone ?? TimeZoneInfo.Utc).ToString("HH:mm d/M/y")
										</small>
									</div>
									<div class="row">
										<strong>
											@notification.Type.ToUpperInvariant()
										</strong>
									</div>
								</div>
								<div class="col-auto">
									@{ if (!string.IsNullOrEmpty(notification.Source))
										{
											<button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="Source: @notification.Source">
												<span class="fas fa-comment"></span>
											</button>
										} }
									@{ if (!string.IsNullOrEmpty(notification.Link))
										{
											<button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="URL: @notification.Link">
												<span class="fas fa-link"></span>
											</button>
										} }
									<button type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom" title="The visibility of this announcement is @Common.NameAttributeExtensions.GetName(notification.PermissionLevel)">
										<span class="fas fa-eye"></span>
									</button>
									@if (notification.CanDelete)
									{
										<a class="btn btn-outline-danger" href="notifications/@Model.Slug/delete?notification=@notification.Guid">
											<p class="fas fa-trash"></p>
										</a>
									}

								</div>
							</div>
						</div>
						<div style="padding:10px;">
							<p style="margin:0;"> @Html.Raw(notification.Message) </p>
						</div>
					</li>
				}}
		</ul>
	</div>
</div>

		</div>
	}
	@if (typeof(Dodo.IAdministratedResource).IsAssignableFrom(Model.__Type))
	{
		<div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
			
		</div>
	}
</div>
