@model Dodo.ViewModels.EventViewModel;

@{
	// This is generated code from the DodoAOT project. DO NOT MODIFY.\r\n
	ViewData["Title"] = "Edit Event";
	Dodo.AccessContext context = (Dodo.AccessContext)ViewData["Context"];
	Resources.EPermissionLevel permissionLevel = (Resources.EPermissionLevel)ViewData["Permission"];
}

<script>
// Original script by Josh Fraser (http://www.onlineaspect.com)
// Some customization applied in this script code
var minutes;
function calculate_time_zone() {
	var rightNow = new Date();
	var jan1 = new Date(rightNow.getFullYear(), 0, 1, 0, 0, 0, 0);  // jan 1st
	var june1 = new Date(rightNow.getFullYear(), 6, 1, 0, 0, 0, 0); // june 1st
	var temp = jan1.toGMTString();
	var jan2 = new Date(temp.substring(0, temp.lastIndexOf(" ") - 1));
	temp = june1.toGMTString();
	var june2 = new Date(temp.substring(0, temp.lastIndexOf(" ") - 1));
	var std_time_offset = (jan1 - jan2) / (1000 * 60 * 60);
	var daylight_time_offset = (june1 - june2) / (1000 * 60 * 60);
	var dst;
	if (std_time_offset == daylight_time_offset) {
		dst = "0"; // daylight savings time is NOT observed
	} else {
		// positive is southern, negative is northern hemisphere
		var hemisphere = std_time_offset - daylight_time_offset;
		if (hemisphere >= 0)
			std_time_offset = daylight_time_offset;
		dst = "1"; // daylight savings time is observed
	}
	var i;
	// Here set the value of hidden field to the ClientTimeZone.
	minutes = convert(std_time_offset);
	TimeField = document.getElementById("HiddenFieldClientTime");
	TimeField.value = minutes;
	alert('your time zone is ' + minutes);
}
// This function is to convert the timezoneoffset to Standard format
function convert(value) {
	var hours = parseInt(value);
	value -= parseInt(value);
	value *= 60;
	var mins = parseInt(value);
	value -= parseInt(value);
	value *= 60;
	var secs = parseInt(value);
	var display_hours = hours;
	// handle GMT case (00:00)
	if (hours == 0) {
		display_hours = "00";
	} else if (hours > 0) {
		// add a plus sign and perhaps an extra 0
		display_hours = (hours < 10) ? "+0" + hours : "+" + hours;
	} else {
		// add an extra 0 if needed
		display_hours = (hours > -10) ? "-0" + Math.abs(hours) : hours;
	}
	mins = (mins < 10) ? "0" + mins : mins;
	return display_hours + ":" + mins;
}
// Adding the funtion to onload event of document object
onload = calculate_time_zone;

</script>


<h4 class="title">Edit Event</h4>
<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Guid" class="control-label"></label>
					<input  readonly asp-for="Guid" class="form-control"></input>
					<span asp-validation-for="Guid" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input  asp-for="Name" class="form-control"></input>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Slug" class="control-label"></label>
					<input  asp-for="Slug" class="form-control"></input>
					<span asp-validation-for="Slug" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Revision" class="control-label"></label>
					<input  readonly asp-for="Revision" class="form-control"></input>
					<span asp-validation-for="Revision" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ArrestRisk" class="control-label"></label>
					<input  asp-for="ArrestRisk" class="form-control"></input>
					<span asp-validation-for="ArrestRisk" class="text-danger"></span>
				</div>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Facilities</h5>
							<div class="form-group">
								<label asp-for="Facilities.Toilets" class="control-label"></label>
								<input  asp-for="Facilities.Toilets" class="form-control"></input>
								<span asp-validation-for="Facilities.Toilets" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Bathrooms" class="control-label"></label>
								<input  asp-for="Facilities.Bathrooms" class="form-control"></input>
								<span asp-validation-for="Facilities.Bathrooms" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Food" class="control-label"></label>
								<input  asp-for="Facilities.Food" class="form-control"></input>
								<span asp-validation-for="Facilities.Food" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Kitchen" class="control-label"></label>
								<input  asp-for="Facilities.Kitchen" class="form-control"></input>
								<span asp-validation-for="Facilities.Kitchen" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.DisabilityFriendly" class="control-label"></label>
								<input  asp-for="Facilities.DisabilityFriendly" class="form-control"></input>
								<span asp-validation-for="Facilities.DisabilityFriendly" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.OutdoorCamping" class="control-label"></label>
								<input  asp-for="Facilities.OutdoorCamping" class="form-control"></input>
								<span asp-validation-for="Facilities.OutdoorCamping" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.IndoorCamping" class="control-label"></label>
								<input  asp-for="Facilities.IndoorCamping" class="form-control"></input>
								<span asp-validation-for="Facilities.IndoorCamping" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Accomodation" class="control-label"></label>
								<input  asp-for="Facilities.Accomodation" class="form-control"></input>
								<span asp-validation-for="Facilities.Accomodation" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Inductions" class="control-label"></label>
								<input  asp-for="Facilities.Inductions" class="form-control"></input>
								<span asp-validation-for="Facilities.Inductions" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.TalksAndTraining" class="control-label"></label>
								<input  asp-for="Facilities.TalksAndTraining" class="form-control"></input>
								<span asp-validation-for="Facilities.TalksAndTraining" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Welfare" class="control-label"></label>
								<input  asp-for="Facilities.Welfare" class="form-control"></input>
								<span asp-validation-for="Facilities.Welfare" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.AffinityGroupFormation" class="control-label"></label>
								<input  asp-for="Facilities.AffinityGroupFormation" class="form-control"></input>
								<span asp-validation-for="Facilities.AffinityGroupFormation" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.VolunteersNeeded" class="control-label"></label>
								<input  asp-for="Facilities.VolunteersNeeded" class="form-control"></input>
								<span asp-validation-for="Facilities.VolunteersNeeded" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.FamilyFriendly" class="control-label"></label>
								<input  asp-for="Facilities.FamilyFriendly" class="form-control"></input>
								<span asp-validation-for="Facilities.FamilyFriendly" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Internet" class="control-label"></label>
								<input  asp-for="Facilities.Internet" class="form-control"></input>
								<span asp-validation-for="Facilities.Internet" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Facilities.Electricity" class="control-label"></label>
								<input  asp-for="Facilities.Electricity" class="form-control"></input>
								<span asp-validation-for="Facilities.Electricity" class="text-danger"></span>
							</div>
						</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Location</h5>
							<address>
								<strong>Address</strong>
								@if (@Model.Location.LocationData != null && !@Model.Location.LocationData.IsEmpty) {
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.Address)) {
										<br>@Model.Location.LocationData?.Address
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.Neighborhood)) {
										<br>@Model.Location.LocationData?.Neighborhood
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.Locality)) {
										<br>@Model.Location.LocationData?.Locality
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.Place)) {
										<br>@Model.Location.LocationData?.Place
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.District)) {
										<br>@Model.Location.LocationData?.District
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.Postcode)) {
										<br>@Model.Location.LocationData?.Postcode
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.Region)) {
										<br>@Model.Location.LocationData?.Region
									}
									@if (!string.IsNullOrEmpty(Model.Location.LocationData?.Country)) {
										<br>@Model.Location.LocationData?.Country
									}
								} else {  @Html.Raw("<br>"); @Html.Label("None"); }
							</address>
							<div class="form-group">
								<label asp-for="Location.Latitude" class="control-label"></label>
								<input  asp-for="Location.Latitude" class="form-control"></input>
								<span asp-validation-for="Location.Latitude" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Location.Longitude" class="control-label"></label>
								<input  asp-for="Location.Longitude" class="form-control"></input>
								<span asp-validation-for="Location.Longitude" class="text-danger"></span>
							</div>
						</div>
				</div>
				<div class="form-group">
					<label asp-for="PublicDescription" class="control-label"></label>
					<textarea  asp-for="PublicDescription" class="form-control"></textarea>
					<span asp-validation-for="PublicDescription" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Parent</label>
					<input class="sr-only" asp-for="Parent.Type"/>
					<a class="btn btn-primary" role="button" href="../../@Model.Parent.Type/@Model.Parent.Slug">@Model.Parent.Name</a>
				</div>
				<div class="form-group">
					<label asp-for="VideoEmbedURL" class="control-label"></label>
					<input  asp-for="VideoEmbedURL" class="form-control"></input>
					<span asp-validation-for="VideoEmbedURL" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IsPublished" class="control-label"></label>
					<input  asp-for="IsPublished" class="form-control"></input>
					<span asp-validation-for="IsPublished" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="StartDate" class="control-label"></label>
					<input  asp-for="StartDate" class="form-control"></input>
					<span asp-validation-for="StartDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EndDate" class="control-label"></label>
					<input  asp-for="EndDate" class="form-control"></input>
					<span asp-validation-for="EndDate" class="text-danger"></span>
				</div>

				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="card" style="width:100%;">		
		<div class="card-body">
			<form asp-action="Delete">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<a href="@Model.Slug/delete" class="btn btn-danger">Delete</a>
			</form>
		</div>
	</div>
</div>

<div>
	<a href="../../Event/@Model.Slug">View Event</a>
</div>

