@model DodoServer.ViewModels.LocalGroup

@{
	ViewData["Title"] = "Local Group Details";
}

<h1>Details</h1>

<div>
	<h4>Local Group</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.MemberCount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.MemberCount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.PublicDescription)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.PublicDescription)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Guid)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Guid)
		</dd>
	</dl>
</div>
<div>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Guid }) |
	<a asp-action="Index">Back to List</a>
</div>
