@{ 
	var adminEmail = Dodo.DodoApp.DevEmail;
}

<h1>Privacy Policy for @Dodo.DodoApp.PRODUCT_NAME</h1>

<p>At @Dodo.DodoApp.PRODUCT_NAME, accessible from @Dodo.DodoApp.PRODUCT_NAME, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by @Dodo.DodoApp.PRODUCT_NAME and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to <a href='mailto:@adminEmail'>contact us.</a></p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in @Dodo.DodoApp.PRODUCT_NAME. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h2>Consent</h2>

<p>When visiting the site for the first time, you will be informed of this policy and asked to consent to it. By continuing to use the site or by explictly consenting, you agree to the usage of your data as laid out here.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>Through your usage of the site, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide. Please consider the information you share with us with great care.</p>
<p>When you register for an Account, we will ask you for your email address and ask you to tell us about how we contact you in the future. You can change how we contact you at any time by logging into your account and modifying your account settings. You can also unsubscribe from any email we send you by following the included unsubscribe link. We will never contact you via email when it is not in accordance with the settings laid out in your account, except when explicitly prompted by your usage on the site.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
	<li>Track if you are logged in, and provide services around managing your user account.</li>
	<li>Personalize the content we serve you based on your account's preferences.</li>
	<li>Understand and analyze how you use our website by anonymously counting page views.</li>
	<li>Communicate with you for customer service, to provide you with updates and other information relating to the website.</li>
	<li>Send you emails.</li>
</ul>

<h2>Log Files</h2>

<p>@Dodo.DodoApp.PRODUCT_NAME follows a standard procedure of using log files. We endeavour to minimize any information about your activity on the site and no personal information will ever be recorded in these logs.</p>

<p>The server hosting this website may have its own logging in place that may record anonymized information in its own log files and analytics. The information collected by a server in its log files may include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and other data required for the operation of the server. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website, @Dodo.DodoApp.PRODUCT_NAME uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' usage.</p>

<p>The cookies we use have the following functions:</p>

<ul>
	<li>Knowing if you are logged in, and who you are logged in as. This information is encrypted when it is stored within your browser.</li>
	<li>Tracking your user session through the use of encrypted keys, which do not contain personal information and are pseudo-random.</li>
	<li>Tracking your language preferences in order to customize web content to your user experience.</li>
	<li>Using the MapBox geolocation and map services. You can find their Cookie Policy <a href="https://www.mapbox.com/legal/cookies">here.</a></li>
	<li>Tracking whether you have consented to the cookie consent popup, in order to not show it again in future.</li>
</ul>

<p>For more general information on cookies, please read <a href="https://www.cookieconsent.com/what-are-cookies/">"What Are Cookies" from Cookie Consent</a>.</p>

<h2>Third Party Privacy Policies</h2>

<p>@Dodo.DodoApp.PRODUCT_NAME's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please <a href='mailto:@adminEmail'>contact us.</a></p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please <a href='mailto:@adminEmail'>contact us.</a></p>

<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>@Dodo.DodoApp.PRODUCT_NAME does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
