@model IEnumerable<DodoServer.ViewModels.WorkingGroup>

@{
	ViewData["Title"] = "Working Groups";
	var loggedIn = true == User?.Identity?.IsAuthenticated;
}

<h1>Working Groups</h1>

@if (loggedIn)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MemberCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Roles)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.WorkingGroups)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MemberCount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Roles.Count)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.WorkingGroups.Count)
				</td>
				<td>
					@if (loggedIn)
					{
						<text>
							@Html.ActionLink("Edit", "Edit", new { id = item.Guid }) |
						</text>
					}
					@Html.ActionLink("Details", "Details", new { id = item.Guid })
					@if (loggedIn)
					{
						<text>
							| @Html.ActionLink("Delete", "Delete", new { id = item.Guid })
						</text>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@if (loggedIn)
{
	<a asp-controller="User" asp-action="Logout">Log out</a>
}
else
{
	<a asp-controller="Login" asp-action="Index" asp-route-redirect="/WorkingGroups">Log in to create/edit/delete</a>
}
